## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
names = application_df[['EIN', 'NAME']]
noname_df = application_df.drop(['EIN', 'NAME'], axis=1)

noname_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
noname_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = noname_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# set cutoff to 200, create dictionary from value_counts result, and initialize list for app types to replace
cutoff = 200
app_type_count_dict = dict(app_type_counts)
application_types_to_replace = []

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts.loc[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# set cutoff to 1000, create dictionary from value_counts result, and initialize list for classifications to replace
cutoff = 1000
class_count_dict = dict(class_counts)
classifications_to_replace = []

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop('IS_SUCCESSFUL', axis=1)
y = dummies_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

MemoryError: Unable to allocate 3.77 GiB for an array with shape (25724, 19685) and data type float64

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 157488

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 157569 (615.50 KB)
Trainable params: 157569 (615.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model_nn = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.5506 - accuracy: 0.7209
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.3819 - accuracy: 0.8254
Epoch 3/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1992 - accuracy: 0.9283
Epoch 4/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1276 - accuracy: 0.9517
Epoch 5/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1096 - accuracy: 0.9560
Epoch 6/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1024 - accuracy: 0.9560
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0985 - accuracy: 0.9570
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0967 - accuracy: 0.9570
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0957 - accuracy: 0.9568
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0948 - accuracy: 0.9568
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0945 - accuracy: 0.9610
Epoch 12/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0938 - accuracy: 0.9609
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0936 - accuracy: 0.9614
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0929 - accuracy: 0.9620
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0925 - accuracy: 0.9615
Epoch 16/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0924 - accuracy: 0.9621
Epoch 17/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0919 - accuracy: 0.9619
Epoch 18/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0913 - accuracy: 0.9620
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0910 - accuracy: 0.9624
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0912 - accuracy: 0.9623
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0906 - accuracy: 0.9632
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0906 - accuracy: 0.9621
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0904 - accuracy: 0.9626
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0900 - accuracy: 0.9628
Epoch 25/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0903 - accuracy: 0.9631
Epoch 26/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0900 - accuracy: 0.9630
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0899 - accuracy: 0.9633
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0895 - accuracy: 0.9630
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0897 - accuracy: 0.9634
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0891 - accuracy: 0.9631
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0895 - accuracy: 0.9631
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0892 - accuracy: 0.9629
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0885 - accuracy: 0.9635
Epoch 34/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0889 - accuracy: 0.9638
Epoch 35/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0885 - accuracy: 0.9633
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0884 - accuracy: 0.9639
Epoch 37/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0882 - accuracy: 0.9636
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0882 - accuracy: 0.9636
Epoch 39/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0881 - accuracy: 0.9636
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0890 - accuracy: 0.9624
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0888 - accuracy: 0.9626
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0880 - accuracy: 0.9634
Epoch 43/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0877 - accuracy: 0.9639
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0876 - accuracy: 0.9641
Epoch 45/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0879 - accuracy: 0.9640
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0877 - accuracy: 0.9636
Epoch 47/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0874 - accuracy: 0.9640
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0873 - accuracy: 0.9638
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0873 - accuracy: 0.9642
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0872 - accuracy: 0.9643
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0871 - accuracy: 0.9637
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0870 - accuracy: 0.9638
Epoch 53/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0869 - accuracy: 0.9637
Epoch 54/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0869 - accuracy: 0.9643
Epoch 55/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0869 - accuracy: 0.9644
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0870 - accuracy: 0.9639
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0870 - accuracy: 0.9640
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0878 - accuracy: 0.9635
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0865 - accuracy: 0.9637
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0865 - accuracy: 0.9643
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0861 - accuracy: 0.9642
Epoch 62/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0862 - accuracy: 0.9644
Epoch 63/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0858 - accuracy: 0.9643
Epoch 64/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0858 - accuracy: 0.9643
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0860 - accuracy: 0.9642
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0859 - accuracy: 0.9644
Epoch 67/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0858 - accuracy: 0.9648
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0858 - accuracy: 0.9646
Epoch 69/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0856 - accuracy: 0.9649
Epoch 70/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0856 - accuracy: 0.9645
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0857 - accuracy: 0.9643
Epoch 72/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0856 - accuracy: 0.9645
Epoch 73/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0856 - accuracy: 0.9647
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0854 - accuracy: 0.9644
Epoch 75/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0854 - accuracy: 0.9646
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0852 - accuracy: 0.9647
Epoch 77/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0853 - accuracy: 0.9645
Epoch 78/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0852 - accuracy: 0.9647
Epoch 79/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0850 - accuracy: 0.9649
Epoch 80/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0850 - accuracy: 0.9650
Epoch 81/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0850 - accuracy: 0.9651
Epoch 82/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0847 - accuracy: 0.9652
Epoch 83/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0848 - accuracy: 0.9649
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0849 - accuracy: 0.9649
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0845 - accuracy: 0.9652
Epoch 86/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0848 - accuracy: 0.9648
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0845 - accuracy: 0.9650
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0847 - accuracy: 0.9647
Epoch 89/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0847 - accuracy: 0.9646
Epoch 90/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0845 - accuracy: 0.9651
Epoch 91/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0845 - accuracy: 0.9655
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0844 - accuracy: 0.9649
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0838 - accuracy: 0.9654
Epoch 94/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0842 - accuracy: 0.9655
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0843 - accuracy: 0.9649
Epoch 96/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0842 - accuracy: 0.9654
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0839 - accuracy: 0.9654
Epoch 98/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0838 - accuracy: 0.9652
Epoch 99/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0839 - accuracy: 0.9656
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0838 - accuracy: 0.9654

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6408 - accuracy: 0.7072 - 703ms/epoch - 3ms/step
Loss: 0.6407594680786133, Accuracy: 0.7071720361709595

In [17]:
# Export our model to HDF5 file
filename = 'deep-learning-challenge/AlphabetSoupCharity_Optimization.h5'
nn.save(filename)

c:\Users\Kels\anaconda3\conda\envs\EdX\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(